//----------styles for FOOTER-------------------
.footer {
    background-color: $color-black;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.5rem;
    color: $color-white;
}

.github-links {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.github-link_github {
    position: relative;
    padding-left: 4rem;
    color: $color-white;

    &::before {
        position: absolute;
        content: "";
        top: -1rem;
        left: 0;
        width: 4rem;
        height: 4rem;
        background-repeat: no-repeat;
        background-image: url('../../../../src/assets/icons/icon-github.svg');
        background-size: contain;
    }
}

.github-link_rsschool {
    position: relative;
    padding-right: 4rem;

    &::after {
        position: absolute;
        content: "";
        top: -0.6rem;
        right: 0;
        width: 9rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-image: url('../../../../src/assets/icons/icon-rsschool.svg');
        background-size: contain;
    }
}


.github-link__position {
    color: $color-text;
}

//----------end styles for FOOTER-------------------