<footer class="footer">
    <div class="container footer__container">
        <div class="github-links">
            <a class="github-link_github" href="https://github.com/sklevzhic" target="_blank">: Alexander Klevzhits <span class="github-link__position">(team leader, developer)</span></a>
            <a class="github-link_github" href="https://github.com/pshigotskaya26" target="_blank">: Tatsiana Pshyhotskaya <span class="github-link__position">(developer)</span></a>
        </div>
        <p>2022</p>
        <a class="github-link_rsschool" href="https://rs.school/js/" target="_blank"></a>
    </div>
</footer>