.credit-card {
  background-image: linear-gradient(to right top, #9887cb, #59488b, #422791, #372d6c, #31013b);
  width: 400px;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 14px;

  &__content {
    display: flex;
    padding: 20px;
    color: white;
  }

  &__logo {
    width: 20%;
    height: 40px;
    margin-right: 20px;
    background: white;
    overflow: hidden;
  }
  &__logo img {
    width: 100%;
  }

  input {
    padding: 5px;
    margin-bottom: 5px;
  }
}