<!--<div class="header">-->
<!--    <a href="">cart</a>-->
<!--    <a href="#products">products</a>-->
<!--    <a href="#products?name=1">products?name=1</a>-->
<!--    <a href="#product/23">product/23</a>-->
<!--</div>-->
<div class="container header__container">
    <a href="" class="logo">
        <!--            <img src="../src/assets/images/logo.png" alt="logo">-->
    </a>
    <h1>Интернет-магазин мобильных телефонов</h1>
    <nav class="header__navigation">
        <ul class="navigation">
            <li class="navigation__item"><a href="#products" class="navigation-link navigation-link_activ">Главная</a></li>
            <li class="navigation__item"><a href="#cart" class="navigation-link basket-link">Корзина</a></li>
        </ul>

        <div class="basket-info">
            <div class="basket-info__count">0 <span class="basket-unit">шт.</span></div>
            <div class="separator">-</div>
            <div class="basket-info__sum">0 <span class="basket-unit">$</span></div>
        </div>
    </nav>
</div>