<header class="header">
    <div class="container header__container">
        <a href="/#products" class="logo">
            <img src="https://raw.githubusercontent.com/sklevzhic/online-store/6f6826a44191d584d13a7aaf48783028681d5687/src/assets/images/logo.png?token=GHSAT0AAAAAABYM3FU3WNOH6IWI72I5TXHWY5ACHBA" alt="logo">
        </a>
        <h1>Интернет-магазин</h1>
        <nav class="header__navigation">
            <ul class="navigation">
                <li class="navigation__item"><a href="#products" class="navigation-link navigation-link_activ">Главная</a>
                </li>
                <li class="navigation__item"><a href="#cart" class="navigation-link basket-link">Корзина</a></li>
            </ul>

            <div class="basket-info">
                <div class="basket-info__count">0 <span class="basket-unit">шт.</span></div>
                <div class="separator">-</div>
                <div class="basket-info__sum">0 <span class="basket-unit">$</span></div>
            </div>
        </nav>
    </div>
</header>