<header class="header">
  <div class="container header__container">
    <a href="/#products" class="logo">
            <img width="50px" height="50px"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6NvXsec4MGIW7uvna7kj3NtjG09DiEt13Zw&usqp=CAU"
                 alt="logo">
        </a>
        <h1>Интернет-магазин</h1>
        <nav class="header__navigation">
            <ul class="navigation">
                <li class="navigation__item">
                    <a href="#products" class="navigation-link navigation-link_activ">Главная</a>
                </li>
                <li class="navigation__item"><a href="#cart" class="navigation-link basket-link">Корзина</a></li>
            </ul>

            <div class="basket-info">
                <div class="basket-info__count">0 <span class="basket-unit">шт.</span></div>
                <div class="separator">-</div>
                <div class="basket-info__sum">0 <span class="basket-unit">$</span></div>
            </div>
        </nav>
    </div>
</header>