//----------styles for HEADER-------------------

.header {
    background-color: $color-white;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8.5rem;
}

.header__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 0.8rem;
}

.navigation {
    display: flex;
    column-gap: 2rem;
}

.navigation-link {
    font-size: 2.1rem;
    font-weight: bold;
    color: $color-text;

    &_activ {
        color: $color-primery;
        border-bottom: 0.1rem solid $color-primery;
    }

    &:hover {
        color: $color-primery;
        border-bottom: 0.1rem solid $color-primery;
        transition: all 0.5s ease-out;
    }
}

.basket-info {
    display: flex;
    column-gap: 1rem;
    font-size: 1.7rem;
    color: $color-text;
}

.basket-unit {
    font-size: 1.5rem;
}

//----------end styles for HEADER-------------------