$color-primery: #5236A3;
$color-primery-light: #8f6df0;
$body-color: #D9D9D9;
$color-white: #ffffff;
$color-gray-light: #F1F1F1;
$color-gray-dark: #D9D9D9;
$color-text: #838383;
$color-black: #000000;

$color-red: #e91e1e;
